<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                <h3>Click the below link to create English Exam</h3>
            </div>
            <div class="card-body">
                <a class="btn-outline-dark" asp-action="English" asp-controller="Teacher">English</a>
            </div>
            <div class="card-footer">
                <span class="alert-info">Create atleast five questions for each subject</span>

            </div>
        </div>
    </div>
    
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                <h3>Click the below link to create Science Exam</h3>
            </div>
            <div class="card-body">
                <a class="btn-outline-dark" asp-action="Science" asp-controller="Teacher">Science</a>

            </div>
            <div class="card-footer">
                <span class="alert-info">Create atleast five questions for each subject</span>

            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                <h3>Click the below link to create Maths Exam</h3>
            </div>
            <div class="card-body">
                <a class="btn-outline-dark" asp-action="Index" asp-controller="Teacher">Maths</a>

            </div>
            <div class="card-footer">
                <span class="alert-info">Create atleast five questions for each subject</span>

            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                <h3>Click the below link to create Social Exam</h3>
            </div>
            <div class="card-body">
                <a class="btn-outline-dark" asp-action="Social" asp-controller="Teacher">Social</a>

            </div>
            <div class="card-footer">
                <span class="alert-info">Create atleast five questions for each subject</span>
            </div>
        </div>
    </div>
</div>