@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;

@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:blanchedalmond">
    <br />
    <br />
    <br />
    <br />

    <div class="text-center">

        <div class="card">
            <div class="card-header">
                <h1>Welcome <span style="lighting-color">@User.Identity.Name</span> To Aspire School Online Exam Portal</h1>
            </div>
            <div class="card-body" style="background-color:ButtonFace">
                @if (signInManager.IsSignedIn(User))
                {
                    <h1 class="display-4">This is the official Online Exam Portal For Aspire School</h1>
                    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Training Project with ASP.NET Core</a>.</p>
                }
            </div>
        </div>
        <div class="card-footer">
            Navigate to the repective actions you want to perform via above navigation tab
        </div>
    </div>


    
</body>