#parent{
    left:33%;
    position:absolute;
    top:30%;
    color:black;
}
h1{
    text-align:center;
    font-size:medium;
    color:aqua;
}
#login{
    position:absolute;
    left:80%;
}
#body{
    background-color:black;
}
