#registerbody{
    background-color:black;
}
#registerdiv{
    left:30%;
    top:10%;

}
h1 {
    text-align: center;
    font-size: medium;
    color: aqua;
}
#regbtn{
    position:absolute;
    left:43%;
}
.form-group{
    color:white;
}
